

@media (max-width: 767.98px) {
	.footer-mobile-menu{
		display: block;
	}
	.footer{
		display: none;
	}
}

@media (min-width: 320px) and (max-width: 575.98px) {
	.home-video,li.nav-user,li.nav-search,.footer,.contact-area-left,.follow-us{
		display: none;
	}
}



/*
.col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}*/